@page "/fahrzeuges"
@attribute [Authorize]

<PageTitle>Fahrzeuges</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="Fahrzeuges" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@fahrzeuges"    TItem="QwTest7.Models.Quva.Fahrzeuge" RowSelect="@EditRow" >
            <Columns>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="FRZGID" Title="FRZGID">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="TRANSPORTMITTEL" Title="TRANSPORTMITTEL">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="WERKNR" Title="WERKNR">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="SPEDITION" Title="SPEDITION">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="TARAGEWICHT" Title="TARAGEWICHT">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="TARADATUM" Title="TARADATUM">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="REPLIKATION" Title="REPLIKATION">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="ERFASSTVON" Title="ERFASSTVON">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="ERFASSTAM" Title="ERFASSTAM">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="ERFASSTDATENBANK" Title="ERFASSTDATENBANK">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="GEAENDERTVON" Title="GEAENDERTVON">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="GEAENDERTAM" Title="GEAENDERTAM">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="GEAENDERTDATENBANK" Title="GEAENDERTDATENBANK">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="ANZAHLAENDERUNGEN" Title="ANZAHLAENDERUNGEN">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="BEMERKUNG" Title="BEMERKUNG">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="FAHRZEUGTYP" Title="FAHRZEUGTYP">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="TARAFREIANZAHL" Title="TARAFREIANZAHL">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="MAXBRUTTO" Title="MAXBRUTTO">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="FLAGS" Title="FLAGS">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Property="Speditionen.SPEDNAME" Title="Speditionen">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="QwTest7.Models.Quva.Fahrzeuge" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="fahrzeuge">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, fahrzeuge)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
